.section-heading .section-heading-lower {
  display: block;
  font-size: 2rem;
  font-weight: 100;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1.5rem;
  font-weight: 800;
}

